.app-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  margin-bottom: 16px;
  font-family: Roboto, sans-serif;
}

.app-card-left {
  flex: 1;
  padding: 16px 0px 15px 20px;
}

.app-insights-overview .app-info {
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-bottom: 12px; */
}

.app-metrics {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.metric-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 150px;
}

.metric-change {
  font-size: 12px;
}

.metric-label {
  font-size: 14px;
  color: #757575;
}

.metric-bar {
  width: 60px;
}

.app-card-right {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
  border-left: 1px solid #e0e0e0;
  padding: 15px 20px;
  gap: 5px;
  width: 450px;
}

.summary-section {
  display: flex;
  gap: 10px;
}

.summary-icon {
  font-size: 18px;
  margin-top: 2px;
}

.summary-label {
  font-size: 13px;
  color: #757575;
  font-weight: 500;
}

.summary-text {
  font-size: 13px;
  color: #212121;
  font-weight: 400;
}

.app-insights-list {
  margin-top: 40px;
}

.active-users-info {
  text-align: right;
  padding-right: 20px;
}

.active-value {
  font-size: 20px;
  font-weight: 500;
  color: #202124;
  font-family: "Roboto", sans-serif;
}

.active-label {
  font-size: 14px;

  color: #5f6368;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.app-card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.metric-bar .line-chart .app-line-chart-box > div {
  height: 52px !important;
  width: 150px !important;
}

.metric-bar .line-chart .app-line-chart-box {
  width: 90px;
  height: 50px;
  margin-left: -10px !important;
  margin-top: 7px !important;
}

.app-line-chart-box .canvasjs-chart-tooltip {
  top: -73px;
  bottom: unset !important;
}

.app-line-chart-box .canvasjs-chart-tooltip > div {
  padding: 9px 10px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #ffffff !important;
}

.new-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.summary-icon-container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e8eaed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.summary-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
}

.summary-title {
  font-size: 13px;
  color: #757575;
  font-weight: 400;
  margin-bottom: 2px;
  text-align: left;
}

.app-card-title .app-img {
  width: 35px !important;
  min-width: 35px !important;
}

.app-card-title .app-img img {
  height: 35px !important;
}

.app-card-title .primary-label {
  font-size: 16px;
}

.app-card-title .secondary-label {
  font-size: 11.5px;
  margin-top: 2.5px;
}

.app-line-chart-box .tooltip-inner .tooltip-value .prefix,
.app-line-chart-box .tooltip-inner .tooltip-value span:nth-child(2) {
  padding-left: unset !important;
}

.app-insights-card .box2 {
  margin: unset !important;
}

.app-insights-card {
  margin-bottom: 12px;
}
