.recent-tags {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.recent-tag {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 14px;
  max-width: 185px;
  margin: 0 6px 0px 0px;
  color: #212529;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.recent-tag-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
}

.remove-tag {
  margin-left: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #212529;
  flex-shrink: 0;
}

.remove-tag:hover {
  color: #1a73e8;
  transform: scale(1.1);
}
.recent-tag:hover {
  color: #1a73e8;
}
.app-insights-dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 1080px;
}

.recent-tag:hover {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(60, 64, 67, 0.3);
}
.recent-tag img {
  height: 19px;
  width: 20px;
  margin-right: 4px;
}
